/Final_Project/pythonProject/data/
/Final_Project/pythonProject/.ipynb_checkpoints/
/Final_Project/strava_history/
/Final_Project/scripts/data/
/Final_Project/CyADD_FinalProject.pdf
/Final_Project/CyADD_FinalProject.zip
/Final_Project/Proposal.pdf
/Final_Project/strava_history.zip
/Final_Project/Documentation/
/Final_Project/Project_deliverable/
/Tareas/Task_1/para_entregar/CyADD_Task_1_report.pdf
/Tareas/Task_1/para_entregar/CyADD_Task_1_report.zip
/Tareas/Task_1/para_entregar/churn.csv
/Tareas/Task_1/scripts/churn.csv
/Tareas/Task_1/CyADD_Task_1_report.pdf
/Tareas/Task_1/Task_1_deliverable.rar
