/Final_Project/pythonProject/data/
/Final_Project/pythonProject/.ipynb_checkpoints/
/Final_Project/strava_history/
/Final_Project/scripts/data/
/Final_Project/CyADD_FinalProject.pdf
/Final_Project/CyADD_FinalProject.zip
/Final_Project/Proposal.pdf
/Final_Project/strava_history.zip
/Final_Project/Documentation/
/Final_Project/Project_deliverable/
/Tareas/Task_1/para_entregar/CyADD_Task_1_report.pdf
/Tareas/Task_1/para_entregar/CyADD_Task_1_report.zip
/Tareas/Task_1/para_entregar/churn.csv
/Tareas/Task_1/scripts/churn.csv
/Tareas/Task_1/CyADD_Task_1_report.pdf
/Tareas/Task_1/Task_1_deliverable.rar
/Tareas/Task_2/scripts/Iris.csv
/Tareas/Task_2/scripts/diamonds.csv
/Tareas/Task_2/Task_2_deliverable.rar
/Tareas/Task_2/CyADD_Task_2_report.pdf
/Tareas/Task_2/Task_2_to_deliver/
/Tareas/Task_3/Task_3_to_deliver/
/Tareas/Task_3/CyADD_Task_3_report.pdf
/Tareas/Task_3/Task_3_deliverable.rar
/Tareas/Task_3/scripts/bank-sample-test.csv
/Tareas/Task_3/scripts/bank-sample.csv
/Tareas/FormatoTareas_tex.tex
/Tareas/Guía_Trabajoscientíficos.pdf
/Tareas/OrientacionesTareas.pdf
/GuiaPublica_21580042_2022.pdf
/Additional_Resources/
/Reference_Book/2015DataScience&BigDataAnalytics.pdf
/Reference_Book/DSBDA_code_data-978-1-118-87613-8.zip
/Reference_Book/DSBDA_code_data/
/Reference_Book/W2_Chapter_03/
/Reference_Book/W3_Chapter_06_1/
/Reference_Book/W4_Chapter_06_2/
/Reference_Book/W5_Chapter_04/
/Reference_Book/W6_Chapter_05/
